**.exe

# binaries
**/bin/
bin-int/
**/Intermediates/
**/Debug/

# VS files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.cache

# XCode files and folders
**.xcodeproj
**.xcworkspace
**.pbxproj
**.xcworkspacedata

#MacOS
**.DS_Store

# imgui
*.ini
