# binaries
**/bin/
bin-int/
**/Intermediates/
**/Debug/

# VS files and folders
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.cache

# XCode files and folders
**.xcodeproj
**.xcodeproj/
**.xcworkspace/
**.pbxproj
**.xcworkspacedata
**.plist
**.xcuserstate

#MacOS
**/.DS_Store
**.DS_Store

# imgui
*.ini

# local
**/Local/