[submodule "Needles/vendor/spdlog"]
	path = Needles/vendor/spdlog
	url = https://github.com/Pygmalion-Project/spdlog.git
[submodule "PINS/vendor/glfw"]
	path = PINS/vendor/glfw
	url = https://github.com/GreedyGauntlet/glfw.git
[submodule "PINS/vendor/imgui"]
	path = PINS/vendor/imgui
	url = https://github.com/GreedyGauntlet/imgui.git
	branch = docking
